# LOOPS

# FOR  LOOP

For loop is an iterative statement it can use iterative over a sequence like list,strings,tuples,etc...

In [ ]:
# looping through a list


a = ["apple","banana","strawberry"]
for i in a:
  print(i)

apple
banana
strawberry

In [ ]:
# looping through A STRING

ab = "ram"
for a in ab:
  print(a)

r
a
m

In [ ]:
# looping through a tuple

sudheer = (1,'raghu',4.7)
for sri in sudheer:
  print(sri)

1
raghu
4.7

**BREAK IN FOR LOOP**

In [69]:
FRUIT = ['SRI','CHERRY','GIRI','SANJU']
for friends in FRUIT:
  print(friends)
  if friends == 'CHERRY':
    break

SRI
CHERRY

In [72]:
fruits = ('RAM','SRI','HARA')
for i in fruits:
 if i == 'SRI':
   break
  print(i)

RAM

**CONTINUE IN FOR LOOP**

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

**RANGE FUNCTION( ) IN FOR LOOP**

Range fun() is nothing but we can print within an amount of range like (0,9).

In [23]:
for i in range(5):
 print(i)

0
1
2
3
4

In [25]:
for x in range(2,34):
 print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [26]:
for i in range(1,25,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23

**ELSE IN FOR LOOP**

The else keyword in a for loop specifies a block of code to be executed when the loop is finished.

In [28]:
for s in range(9):
  print(s)
else:
    print('awesome')

0
1
2
3
4
5
6
7
8
awesome

In [29]:
for i in range(1,25,2):
  print(i)
else:
    print('good')

1
3
5
7
9
11
13
15
17
19
21
23
good

*Note: The else block will NOT be executed if the loop is stopped by a break statement.*

In [30]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

**NESTED FOR LOOP**

Nested loop is nothing but the loop inside another loop is called nested loop.

In [31]:
a = ('sriram','krishna','arjun')
b = ['vamsi','lokesh']
for i in a:
  for j in b:
    print(i,j)

sriram vamsi
sriram lokesh
krishna vamsi
krishna lokesh
arjun vamsi
arjun lokesh

**PASS STATEMENT IN FOR LOOP**

Generally for loop doesn't empty In some cases it  nednot contain any data we can use pass keyword.

In [32]:
for x in [0, 1, 2]:
  pass

# WHILE LOOP

While will executes when the condition is true.

In [33]:
i = 7
while i < 10:
  print(i)
  i += 1

7
8
9

In [41]:
i = 5
while i < 15:
  print(i)
  i += 1

5
6
7
8
9
10
11
12
13
14

**BREAK STAEMENT USING WHILE LOOP**

In [44]:
i = 1
while i < 23:
  print(i)
  if i == 15:
   break
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

**CONTINUE STATEMENT USING WHILE LOOP**

In [48]:
i = 1
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

2
4
5
6

# BASIC LOOP PROBLEMS

**1.Print numbers from 1 to 10 using a for loop.**

In [52]:
for i in range(1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

**2.Print even numbers from 1 to 20 using a while loop.**



---

In [53]:
i = 2
while i <= 20:
  print(i)
  i += 2

2
4
6
8
10
12
14
16
18
20

**3.Sum of first 50 numbers (1+2+3+...+50) using a loop.**

In [57]:
total = 0
for i in range(1, 51):
    total += i
print("Sum:", total)

Sum: 1275

**4.Count backwards from 10 to 1 using a loop.**

In [59]:
for i in range(10,0,-1):
 print(i)

10
9
8
7
6
5
4
3
2
1

**5.Print all numbers divisible by 3 from 1 to 50.**

In [60]:
for i in range(1,51):
  if i % 3 == 0:
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

**6.Ask the user for a number and print whether it is prime or not.**

In [61]:
a = int(input('Enter a number'))
if a > 5:
  print('it is a prime number')
else:
    print('it is not a prime number')

Enter a number7
it is a prime number

**7.Print all numbers from 1 to 100 but skip numbers divisible by 5.**

In [65]:
for i in range(1,101):
  if i % 5 == 0:
   continue
  print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99

**8.Print the following pattern:**
*
* *
* * *
* * * *
* * * * *

In [8]:
for i in range(1,6):
  print("*" * i)

*
**
***
****
*****

9.Print 1 to 7 numbers usi

In [6]:
for i in range(1,8):
  print(i)

1
2
3
4
5
6
7

**10.Print numbers from 1 to 20 but skip multiples of 4.**

In [16]:
i = 0
while i < 20:
    i += 1
    if i % 4 == 0:
        continue
    print(i)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19