# **DAY 1**

# **STRINGS**

Strings is a collection of characters and is denoted by single quotes and double quotes triple quotes.

In [37]:
print('Hello')
print("python")
print('''khub''')

Hello
python
khub

# ASIGN STRING TO VARIABLE

In [38]:
a = ('''Team 8 ''')
print(a)

Team 8

In [39]:
a = ("This is my class")
b = a
print(b)

This is my class

# MULTILINE **STRINGS**

WE can use three double quotes or three single quotes

In [40]:
a = '''Today is friendship day ,
       I wish my friends ,
       "Happy Friendship Day"'''
print(a)

Today is friendship day ,
       I wish my friends ,
       "Happy Friendship Day"

# STRING **LENGTH**

We can find length of string we use len() function.It will find length of a string.

In [41]:
a = 'Hello I am a Junior Developer'
print(len(a))

29

In [42]:
a = """I have selected in Robotics,
But i didn't go to Robotics."""
print(len(a))

57

# CHECK STRING

In [43]:
text = "I am a student"
print("a" in text)

True

In [44]:
hi = "my name is sriram"
print("raju" in hi)

False

we have to use if statement to check the string

In [45]:
txt = "CSM DAYSCHOLARS"
if "DAYSCHOLARS" in txt:
    print("Yes")

Yes

we can also use if else statement

In [46]:
hi = "Shithu is a good girl"
if "Shithu" in hi:
  print("Good")
else:
  print('Bad')

Good

use not in keyword

In [47]:
txt = "hi"
print("hello" not in txt)

True

# SLICING STRINGS

You can return a range of characters by using the slice syntax.It specifies starting and ending index and is seperated by a colon.

In [48]:
hello = "Hi coders"
print(hello[3:8])

coder

**sicing from the first**

In [49]:
a = 'Hello guys'
print(a[:5])

Hello

In [50]:
a = 'Hello guys'
print(a[:11])

Hello guys

**slice to end**

In [51]:
txt = "CSM DAYSCHOLARS"
print(txt[4:])

DAYSCHOLARS

In [52]:
a = 'Hello I am a Junior Developer'
print(a[6:])

I am a Junior Developer

**Negative Indexing**

In [53]:
text = "I am a student"
print(text[-7:])

student

# MODIFICATION OF STRINGS

**UPPER** **CASE**

The function upper() is to captalise the total string

In [54]:
a = "sriram"
print(a.upper())

SRIRAM

**LOWER CASE**

The lower() function is used to change the string into lower case letters

In [55]:
a = "I AM A BANK EMPLOYEE"
print(a.lower())

i am a bank employee

**REMOVE WHITESPACE**

we have to remove whitespaces from starting or ending of the index the split() function is used.

In [56]:
a = ' Free Fire '
print(a.strip())

Free Fire

**REPALCE METHOD**

The use replace() function is to replace one word with another.

In [57]:
txt = "CSM DAYSCHOLARS"
print(txt.replace("DAYSCHOLARS","HOSTLERS"))

CSM HOSTLERS

**SPLIT METHOD**

The splitting of one word into two words.we can use split() function.

In [58]:
a = 'Free Fire'
print(a.split())

['Free', 'Fire']

# STRING CONCATENATION

String concatenation means we can merge the two strings.

In [59]:
input = "Hello"
output = 'World!'
Result = input+output
print("Result")

Result

Another example for merge the two strings.

In [60]:
R = "Ram"
S = "Shithu"
RS = R + " " + S
print(RS)

Ram Shithu

# STRING FORMATS

**F-STRING**

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [61]:
grade = 'A'
txt = f"My semister grade is {grade} "
print(txt)

My semister grade is A

In [62]:
percentage = 98
txt = f"I scored {percentage}% in 2nd year"
print(txt)

I scored 98% in 2nd year

In [63]:
price = 1000
Quantity = f"The price of rice bag is {price} rupees"
print(Quantity)

The price of rice bag is 1000 rupees

In [64]:
cost = 24
Quality = f"The best Quality than best {cost:.2f}"
print(Quality)

The best Quality than best 24.00

In [65]:
text = f"The few bags of rice is {23 * 23} rupees"
print(text)

The few bags of rice is 529 rupees

# PYTHON BOOLEAN

In python boolean there is either 1 or 0 are defined or True or False.

In [66]:
print(10>9)
print(10==10)
print(2<0)
print(2!=5)

True
True
False
True

Now we can write boolean expressin in if statement.

In [67]:
a = 50
b = 25
if b > a:
  print("True")
else:
  print("false")

false

# OPERATORS

Operators are used to perform operations on variables and values.There are several types of operators performs specific tasks based on conditions.

In [68]:
a = 2
b = 2
c = a + b
print(c)

4

**ARTHMETIC OPERATORS**

In Arthmetic operators are of many types.like addition,subtraction,multiplication,etc....

In [69]:
a = 5
b = 2
c = a + b
d = a - b
e = a * b
f = a / b
g = a % b
h = a ** b
i = a // b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

7
3
10
2.5
1
25
2

**ASSIGNMENT** **OPERATORS**

Assignment operators are used to assign values to variables.

In [70]:
a = 10
a += 5
print(a)

a -= 3
print(a)


a *= 2
print(a)

a /= 4
print(a)

a //= 2
print(a)

a %= 2
print(a)

a = 2
a **= 3
print(a)

a = 8
a <<= 1
print(a)

a >>= 2
print(a)

a = 5
a = 3
print(a)

a ^= 3
print(a)

a |= 3
print(a)

15
12
24
6.0
3.0
1.0
8
16
4
3
0
3

**COMPARISION** **OPERATORS**

Comparison operators are used to compare two values.

In [71]:
a = 5
b = 3

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

**LOGICAL OPERATORS**

Logical operators are used to combine conditional statements.

In [72]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

**IDENTITY OPERATORS**

Mainly these are two types:

In [73]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(x is y)
print(x is z)
print(x is not y)

False
True
True

**BITWISE OPERATOR**

This is mainly used in JAVA and other language.

In [74]:
a = 5
b = 3

print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 1)
print(a >> 1)

1
7
6
-6
10
2

# LISTS

#Lists are used to store multiple values in a single variable.lists are immutable it contains duplicates.list is denoted by square braces [ ].we can add and remove the items when list is created.A list contains different data types.

In [75]:
my_list = [1,2,3,"ram",8.5]
print(my_list)

[1, 2, 3, 'ram', 8.5]

In [76]:
thislist = ["banana","apple"]
print(thislist)

['banana', 'apple']

# LIST LENGTH

It specifies the no of words in the list.

In [77]:
a = ["hello","kumar",0,8.9]
print(len(a))

4

# LIST ITEMS - DATA TYPES

List supports different types of data types.Like int,float,string etc....

In [78]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

**TYPE**() **FUNCTIONS**

In [79]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))
mylist =("apple", "banana", "cherry")
print(type(mylist))
mylist = {"apple", "banana", "cherry"}
print(type(mylist))

<class 'list'>
<class 'tuple'>
<class 'set'>

# ACCESS ITEMS IN THE LIST

In [80]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

**NEGATIVE** **INDEXING**

In [81]:
hello = ["apple", "banana", "cherry"]
print(hello[-1])

cherry

In [82]:
thislist = ["apple", "banana", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['banana', 'kiwi', 'melon']

**Range of indexes**

In [83]:
thislist = ["apple", "banana", "melon",6, "mango"]
print(thislist[2:5])

['melon', 6, 'mango']

**CHANGE OF ITEMS**

In [84]:
mylist = ["svm",34,"erty"]
mylist[0] = "java"
print(mylist)

['java', 34, 'erty']

In [85]:
thislist = ["apple", "banana", "kiwi", "melon", "mango"]
thislist[0:3] = ["appa","bappa","cappa"]
print(thislist)

['appa', 'bappa', 'cappa', 'melon', 'mango']

# LIST METHODS

In [86]:
#append()

mylist = ["banana",5,9.0]
mylist.append("sriha")
print(mylist)

['banana', 5, 9.0, 'sriha']

In [87]:
# extend()

thislist = ["apple", "banana", "melon",6, "mango"]
mylist = ["svm",34,"erty"]
thislist.extend(mylist)
print(thislist)

['apple', 'banana', 'melon', 6, 'mango', 'svm', 34, 'erty']

In [88]:
# insert()

hello = ["apple", "banana", "cherry"]
hello.insert(1,2)
print(hello)

['apple', 2, 'banana', 'cherry']

In [89]:
#  remove()

list1 = ["apple", "banana", "cherry"]
list1.remove("apple")
print(list1)

['banana', 'cherry']

In [90]:
# pop()

hello = ["apple", "banana", "cherry"]
hello.pop(2)
print(hello)

['apple', 'banana']

In [91]:
# delete()

hello = ["apple", "banana", "cherry"]
del(hello)

In [92]:
# clear()

hello = ["apple", "banana", "cherry"]
hello.clear()
print(hello)

[]

In [93]:
# sort() in ascending

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [94]:
# sort() in descending

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [95]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# TUPLES

Tuples are used to store multiple values in a single variable.Tuples are mutable it does contains duplicates.Tuples is denoted by paranthesis  ( ).we can't add and remove the items when list is created.A list contains different data types.

In [96]:
tuple = ("app","twitter")
print(tuple)

('app', 'twitter')

**Tuple length**

In [97]:
thistuple = ( "banana", "cherry")
print(len(thistuple))

2

# TUPLE METHODS

There are mainly two types of tuple methods.

In [98]:
# index()

tuple = ('a', 'banana', 'c', 'b', 'd')
print(tuple.index('b'))

3

In [99]:
# count()

my = (1, 2, 2, 3, 2)
print(my.count(2))
print(my.count(4))

3
0

# SET

Sets are used to store multiple items in a single variable.A set is a collection which is unordered, unchangeable, and unindexed.set is denoted by { }.set doesn't contains duplicates.


.

In [100]:
set = {"apple", "banana", "cherry"}
print(set)

{'apple', 'banana', 'cherry'}

In [101]:
thisset = {4,4,5,6,6}

print(thisset)

{4, 5, 6}

The values True and 1 are considered the same value in sets:
False and 0 is considered the same value

In [102]:
myset = {"apple", True, 1, 2}

print(myset)


thisset = {"apple", False, True, 0}

print(thisset)

{'apple', True, 2}
{'apple', False, True}

**SET** **METHODS**

In [103]:
# union()

myset = {"banana","sagar"}
thisset = {12,34,56}
set = myset.union(thisset)
print(set)

{'sagar', 34, 56, 'banana', 12}

In [104]:
myset = {"banana","sagar"}
thisset = {12,34,56}
set = {"apple", "banana", "cherry"}
bro = {3.3,5.4}
show = myset.union(thisset,set,bro)
print(show)

{'sagar', 34, 3.3, 5.4, 'apple', 'banana', 12, 56, 'cherry'}

In [105]:
#  intersection()

myset = {"banana","sagar"}
set = {"apple", "banana", "cherry"}
thisset = myset.intersection(set)
print(thisset)

{'banana'}

In [106]:
# add()

fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'apple', 'banana', 'cherry', 'orange'}

In [107]:
# isdisjoint()

myset = {"banana","sagar"}
set = {"apple", "banana", "cherry"}
thisset = myset.isdisjoint(set)
print(thisset)

False

## DICTIONARIES

Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered*, changeable and do not allow duplicates.Dictionaries are written with curly brackets, and have keys and values:

In [108]:
dict = {
  "book": "classmate",
  "model": "Mustang",
  "year": 1964
}
print(dict)

{'book': 'classmate', 'model': 'Mustang', 'year': 1964}

we have to print only particular sentence the beloe code will used.

In [109]:
sri = {
    "sriram" : "CSM" ,
    "village" : "vadapalem" ,
    "birth" : 2005 ,
}
print(sri["village"])

vadapalem

# DICTIONARY METHODS

Here are some methods are used in the topic.There are

In [110]:
dict = {
    "pen": "softek",
    "book": "classmate",
    "year": 2009
}
dict.clear()
print(dict)

{}

we have to print the without pairs and incude keys.The key word is fromkeys().

In [111]:
vam = {"aalu","balu","golu"}
man = 0
can = dict.fromkeys(vam,man)
print(vam)

{'aalu', 'balu', 'golu'}

In [112]:
# pop()

car = {
   'department' : 'CSE',
   'department1' : 'ECE',
   'department2' : 'IT',
}
car.pop('department2')
print(car)

{'department': 'CSE', 'department1': 'ECE'}

In [113]:
# popitem()

s = {'father' : 'chandu',
     'mother' : 'krishna',
     'brother' : 'pandu',
     }
s.popitem()
print(s)

{'father': 'chandu', 'mother': 'krishna'}

# CONDITIONAL STATEMENTS

There are mainly 4 conditions in python programs.

In [114]:
# if statement:


a = 47
if a > 10:
  print("a is big")
else:
  print("a is not big")

a is big

In [115]:
# elif statement:


a = 47
b = 47
if a > b:
  print(a is big)
elif a == b:
  print('a and b are equal')
else:
  print('b is big')

a and b are equal

In [116]:
# else statement:


a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [117]:
# nestedif statement:


x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# MATCH CASES

It is a way for Python to check one value against many options and run the matching code.

In [118]:
value = "banana"

match value:
    case "apple":
        print("It's an apple")
    case "banana":
        print("It's a banana")
    case _:
        print("Something else")

It's a banana

In [119]:
point = (0, 5)

match point:
    case (0, 0):
        print("Origin")
    case (x, 0):
        print(f"On X-axis at {x}")
    case (0, y):
        print(f"On Y-axis at {y}")
    case (x, y):
        print(f"Somewhere else: ({x}, {y})")

On Y-axis at 5

In [120]:
number = 7

match number:
    case x if x % 2 == 0:
        print(f"{x} is even")
    case x if x % 2 == 1:
        print(f"{x} is odd")

7 is odd